@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#CabinSketchBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC);
  background-position: center -100px; /* 71px */
  background-repeat: repeat, no-repeat;
  background-color: #191930;
}

body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: #93cfd6;
  font-size: 24px; 
}

#schedule div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #6dbcdb;

  padding: 20px;
}

#schedule div > * {
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
}

#schedule { 
  color: #fff; 
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#schedule a {
  color: #191930;
}

#schedule h3 {
  padding-top: 0px;
  font-size: 54px;
  clear: right;
}

#schedule h2 {
  line-height: 48px;
  font-size: 34px;
}

#schedule > * {
/*  text-shadow: 0px 1px 1px #191930; */
}

#schedule img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

/* twitter colours */
#tweets a { color: rgba(255,255,255,0.7); }
.hentry .meta, #tweets .meta a { color: #99CFD7; }
#tweets li { background: #fc5c47; }
.tweet { color: #fff; }

/* this simply puts a large background image on the schedule element if it matches the schedule time */
#schedule {
  background-image:url(images/default_topbkg.svg);
}


#schedule[data-time="0940"] {
  background-image:url(images/speakers/RayPloski.jpg);
}
#schedule[data-time="0950"] {
  background-image: url(/images/sample/jeremy.jpg);
}
#schedule[data-time="1030"] {
  background-image: url(/images/sample/phil.jpg);
}
#schedule[data-time="1110"] {
  background-image: url(/images/sample/break1.jpg);
}
#schedule[data-time="1140"] {
  background-image: url(/images/sample/marijn.jpg);
}
#schedule[data-time="1220"] {
  background-image: url(/images/sample/rik.jpg);
}
#schedule[data-time="1430"] {
  background-image: url(/images/sample/nicholas.jpg);
}
#schedule[data-time="1510"] {
  background-image: url(/images/sample/glenn.jpg);
}
#schedule[data-time="1550"] {
  background-image: url(/images/samplebreak2.jpg);
}
#schedule[data-time="1620"] {
  background-image: url(/images/sample/brendan.jpg);
}
#schedule[data-time="1700"] {
  background-image: url(/images/sample/marcin.jpg);
}
#schedule[data-time="1900"] {
  background-image: url(/images/sample/closing.jpg); 
}

/* this allows us to customise what part is animated to fullscreen */
#notices .fullscreen {
  top: 100%;
}

/* this third notice will slide upwards as it also has .fullscreen */
#noticeSunday.show {
  top: 0;
  background-image:url(images/schedule/devnation2014_agendamonitor_sunday.png);
  background-size: cover;
}

#noticeMonday.show {
  top: 0;
  background-image:url(images/schedule/devnation2014_agendamonitor_monday.png);
  background-size: cover;
}

#noticeTuesday.show {
  top: 0;
  background-image:url(images/schedule/devnation2014_agendamonitor_tuesday.png);
  background-size: cover;
}

#noticeWednesday.show {
  top: 0;
  background-image:url(images/schedule/devnation2014_agendamonitor_wednesday.png);
  background-size: cover;
}

#noticeThursday.show {
  top: 0;
  background-image:url(images/schedule/devnation2014_agendamonitor_thursday.png);
  background-size: cover;
}


#map_canvas {
    width: 500px;
    height: 400px;
}

#logoplacement {
	width: 100%;
	height: 65%;
	padding:20px;
}