<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="Refresh" content="300">
<meta http-equiv="expires" content="0" />
<title>DevNation Twitter Wall</title>
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body class="hflex-wrapper">
<div class="vflex-wrapper50">
  <div id="schedule"> 
    <!-- style the schedule as you please -->
    <div id="breakfast" data-time="0730">
      <p>Next: 7:30AM - 8:30AM </p>
      <h3>Breakfast</h3>
      <h2>South lower lobby</h2>
    </div>
    <div id="generalsession" data-time="0830">
      <p>Next: 8:30AM - 10:00AM</p>
      <h3>General Session</h3>
      <h2>Rooms 102</h2>
    </div>

    <div id="breakout5" data-time="1015">
      <p>Next: 10:15AM - 11:15AM</p>
      <h3>Session Breakouts: 5</h3>
    </div>

    <div id="breakout6" data-time="1130">
      <p>Next: 11:30AM - 12:30PM</p>
      <h3>Session Breakouts: 6</h3>
      <h2>Rooms 208, 212, 220, 224 & 236</h2>    
      </div>

    <div id="lunch" data-time="1230">
      <p>Next: 12:30PM - 1:30PM</p>
      <h3>Boxed Lunch</h3>
      <h2>South lower lobby</h2>
    </div>

   <div id="breakout7" data-time="1445">
      <p>Next: 2:45PM - 3:45</p>
      <h3>Session Breakouts: 7</h3>
      <h2>Rooms 208, 212, 220, 224 & 236</h2>    
    </div>


   <div id="middlewarekeynote" data-time="1600">
      <p>Next: 4:00PM - 5:00PM</p>
      <h3>Middleware Keynote</h3>
      <h2>Hall A</h2>    
    </div>

   <div id="receptionpartnerpavilion" data-time="1700">
      <p>Next: 5:00PM - 6:30PM</p>
      <h3>Reception in Partner Pavilion</h3>
      <h2>Halls B & C</h2>    
    </div>

   <div id="summitopening" data-time="1830">
      <p>Next: 6:30PM - 8:00PM</p>
      <h3>Summit Opening General Session & 10 Year Celebration</h3>
      <h2>Hall A</h2>    
    </div>

  </div>
  
   <div id="logoplacement" ><img src="images/devnation_logo.svg" /></div>
  
  <div id="notices"> 
    <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->
    <div id="notice1" data-hold-time="10s"><img src="images/sponsors.svg" width="100%" /></div>
    <div id="notice2" data-hold-time="10s"> <img src="images/party.svg"  width="100%" /> </div>
    <div id="noticeMonday" data-hold-time="30s" class="fullscreen"> </div>
  </div>
</div>
<div id="twitterwall">
  <ul id="tweets">
  </ul>
</div>
<script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong> 
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script> 
<script src="config.js"></script> 
<script src="app/js/twitterlib.js"></script> 
<script src="app/js/jquery.min.js"></script> 
<script src="app/js/app.js"></script>
</body>
</html>
